<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input a new Item</title>
</head>

<body>
    <h1>Here you can add a new item to your beautiful packing list!</h1>
    <form action="/items" method="post">
        <label for="name">Name of new item</label>
        <input type="text" id="name" name="name">
        <input type="checkbox" name="packed" value="packed">
        <label for="packed"> Check if already packed</label>
        <input type="checkbox" name="purchased" value="purchased">
        <label for="purchased"> Check if already purchased</label>
        <label for="weight">Weight of new item</label>
        <input type="number" id="weight" name="weight">
        <button type="submit">Add item to list</button>
    </form>
</body>

</html>