<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packer Home</title>
</head>
<body>
    <h1>Hey there, We heard that you have a lovely little trip coming up real soon</h1>
    <a href="/items/new">Add a new item to your packing list</a>
    <a href="/item">Look at all the items that you have on your packing list</a>
</body>
</html>